/* You can add global styles to this file, and also import other style files */
//$colo-gris-fondo: rgb(204, 204, 204);
nav{
    height: 150px;
    background-color: rgb(204, 204, 204);//$color-gris-fondo;
}
i{
    height: 100px;
    width: 100px;
}