<!-- Navbar compoenent for all pages -->
<app-navbar></app-navbar>

<div class="container text-center mt-5 ">

    <!-- Dynamic content -->
    <!-- If currentOption is 'actividades', show the calendar -->
    <div *ngIf="currentOption === 'actividades'">
        <div class="row">
            <div class="col-4">
                <app-calendar></app-calendar>
            </div>
            <div class="col-8">
                <app-date-picker 
                    [selectedDate]="currentDate" 
                    (dateChanged)="onDateChange($event)">
                </app-date-picker>


                <app-activity-list></app-activity-list>
            </div>
        </div>
         
        
    </div>

    <!-- If currentOption is 'monitores', show the calendar -->
    <div *ngIf="currentOption === 'monitores'">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7 align-items-end">
                <app-search-monitor (monitorCarrouselList)="monitorCarrouselListEmit($event)"></app-search-monitor>
            </div>
            <div class="col-1"></div>
            <div class="col-2 align-items-end">
                <app-boton-popup></app-boton-popup>
            </div>
        </div>
        
        <app-monitor-pop-up hidden="{{popUpHidden}}"></app-monitor-pop-up>
        
        @if (groupedMonitores.length!=0) {
            <app-carrousel [groupedMonitores]="groupedMonitores"></app-carrousel>
        }
    </div>
</div>

<!-- Tab selector as footer of all pages -->
<app-mode-selector (optionSelected)="onOptionSelected($event)"></app-mode-selector>

